! STYLE
URxvt*font:		xft:fira mono:style=Regular:pixelsize=14:antialias=true
URxvt*foreground: #f7f7f7
URxvt*cursorColor: white
URxvt*depth: 32
URxvt*background: [90]#000000

*scrollBar:        true
*scrollBar_floating:true
*scrollBar_right:  true
*scrollColor:      #202020
*scrollstyle:      plain
*scrollTtyOutput:  false
*scrollWithBuffer: false
*scrollTtyKeypress: True
*secondaryScroll: True

URxvt*perl-lib:	~/.urxvt/perl/
URxvt.perl-ext-common: default,clipboard

URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

URxvt.iso14755 : false

URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

URxvt*termName:	xterm
URxvt*iso14755 :	false

URxvt*saveLines:        10000

*keysym.End:       \033[8~
*keysym.Home:      \033[7~

URxvt.keysym.C-Left: \033[1;5D
URxvt.keysym.C-Right: \033[1;5C

! black
*color0:       #131313
*color8:       #4b4b4b

! red
*color1:       #c44949
*color9:       #ed6b6b

! green
*color2:       #76c449
*color10:      #aced6b

! yellow
*color3:       #c49749
*color11:      #edb76b

! blue
*color4:       #4976c4
*color12:      #6ba1ed

! magenta
*color5:       #c449c4
*color13:      #ed6bed

! cyan
*color6:       #49bac4
*color14:      #6be2ed

! white
*color7:       #cfcfcf
*color15:      #ffffff


!! ROFI

! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   #383c4a,#d3dae3,#404552,#4B5162,#ffffff
! Color scheme for urgent row
rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
! Color scheme for active row
rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
! Color scheme window
rofi.color-window:                   #ffffff,#f5f5f5
! Separator style (none, dash, solid)
rofi.separator-style:                solid
